Default template for python
***
#!/usr/bin/env python
# -*- coding: utf-8 -*-
#
#  <untitled>.py
#
#  Copyright <year> <name> (<email>@<provider>.com)
#

def main():

    return

if __name__ == '__main__':
    main()
